
.action{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.choice-icons-star{
    filter: invert(1);
    width: 16px;
    height: 16px;
}
.play-trailer{
    font-weight: 600;
    font-size: 16px;
}
.play-trailer-icon{
   width: 22px;
   height: 22px;
   filter: invert(1);
   margin-right: 9px;
}
.play-trailer-div{
    display: flex;
    justify-content: center;
    align-items: center;
}