.weekly-content {
    display: flex;
    overflow-x: scroll;
    flex-direction: flex-start;
    padding-left: 40px;
  

}



.link {
    text-decoration: none;
    padding-bottom: 20px;
    animation: card-animation 0.5s ease-in-out backwards ;
}

@keyframes card-animation {
    100%{
        opacity: 1;
    }

    70%{
     opacity: 0.8;
    }

    40%{
        opacity: 0.4;
    }

    0%{
        opacity: 0;
    }


}

.each-card {
    display: flex;
    justify-content: flex-start;
    position: relative;
}

.card {
    /* padding: 5px 10px; */

    margin-right: 20px;
    width: 150px;

}

.image {
    border-radius: 10px;
    width: 150px;
    height: 225px;
    object-fit: cover
}



.title-anchor {
    position: relative;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
   
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
    color: black;
    padding: 19px 10px 0px 10px;}

.title-anchor:hover {
    color: rgba(var(--tmdbLightBlue), 1);
    cursor: pointer;
}

.release-date {
    color: rgba(0, 0, 0, 0.6);
    font-size: 16px;
    font-weight: 400;
    margin-left: 10px;
}

.weekly-content::-webkit-scrollbar {
    height: 8px;
    background-color: none;

}


.weekly-content::-webkit-scrollbar-thumb {
    background-color: rgba(var(--scrollerGrey), 1);
    border-radius: 20px;
}

.more {
    position: absolute;
    top: 15px;
    left: 130px;   
}