.backdrop_image{
    width: 98.90vw;
    height: 525px;
    border-bottom: 1px solid var(--primaryColor);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    background-color:white;
    background-clip: border-box;
    background-position-x: 258px;
    background-position-y:30%;
    background:  linear-gradient(to right, rgba(157.5, 178.5, 199.5, 1) calc((50vw - 170px) - 340px), rgba(157.5, 178.5, 199.5, 0.84) 50%, rgba(157.5, 178.5, 199.5, 0.84) 100%);

   

}
.inner-hero-section{
    padding: 30px 40px;
    width: 1300px;
    display: flex;
    justify-content: center;
    align-items: center;

  
}
.movie-details{
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
  justify-content: center;
}
.certification{
    border: 1px solid gray;
    width: 18px;
    height: 15px;
    padding: 0.800px 4px;
    font-size: 13px;
    display: flex;
    align-items: center;
}
.right-section{
    padding-left:40px
}
.metrics{
  
    display: flex;

    align-items: center;
    margin-bottom: 24px;
   
   
   
}
.metric-data{
    margin-right: 7px;
}
.seperator{
    font-weight: 900;
    font-size: larger;
    margin-right: 7px;
    padding-bottom: 10px;

}
.tagline{
    font-size:16px;
    color:rgba(var( --darkerGrey))
   
}
/* .outer-movie-details-div{
    display: flex;
    align-items: center;
    justify-content: center;
} */